<!DOCTYPE html>
<html>
  <head>
    <title>User Dashboard</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Your Dashboard, <%= user.username %>!</h1>
      <!-- Include other user dashboard information -->
    </div>
  </body>
</html>
